<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.astechdesign.diningsolutions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".CustomerListActivity" />
        <activity android:name=".DiningSolutionsActivity" />
        <activity android:name=".CustomerActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".OrderListActivity" />
        <activity android:name=".OrderPagerActivity" />
        <activity
            android:name=".TodoListActivity"
            android:label="@string/title_todo_list">
        </activity>
        <activity
            android:name=".TodoDetailActivity"
            android:label="@string/title_todo_detail"
            android:parentActivityName=".TodoListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.astechdesign.diningsolutions.TodoListActivity" />
        </activity>
        <activity
            android:name=".ProductListActivity"
            android:label="@string/title_product_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/title_product_detail"
            android:parentActivityName=".ProductsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.astechdesign.diningsolutions.ProductListActivity" />
        </activity>
    </application>

</manifest>