<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.astechdesign.diningsolutions">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/dsd_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity android:name=".tasks.TaskListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customers.CustomerListActivity"
            android:label="@string/title_customer_list"
            android:parentActivityName=".tasks.TaskListActivity" />
        <activity
            android:name=".customers.CustomerDetailActivity"
            android:label="@string/title_activity_customer_detail"
            android:parentActivityName=".customers.CustomerListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.astechdesign.diningsolutions.customers.CustomerListActivity" />
        </activity>
        <activity
            android:name=".orders.OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName=".tasks.TaskListActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".products.ProductListActivity"
            android:label="@string/title_product_list"
            android:parentActivityName=".tasks.TaskListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".reports.ReportsActivity"
            android:label="@string/title_activity_reports"
            android:parentActivityName=".tasks.TaskListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>